<!-- <h1>Angular</h1>  -->
<!-- <authors></authors> -->
<!-- <courses></courses> -->
<!-- <favorite [isFavorite]="post.isFavorite" (change)="onFavoriteChanged($event)"></favorite> -->
<!-- <input type="text" [(ngModel)]="title">
<br>
{{ title | titleCase }} -->

<!-- <bootstrap-panel>
    <ng-container class="heading">Heading</ng-container>
    <div class="body">
        <h2>Body</h2>
        <p>Some content here...</p>
    </div>
</bootstrap-panel> -->

<!-- <like
    [likesCount]="tweet.likesCount"
    [isActive]="tweet.isLiked">
</like> -->

<!-- The condition ; then ("target block" or "template") else "other target template" -->
<!--
<div *ngIf="courses.length > 0; then coursesList else noCourses"></div>
<ng-template #coursesList>
   List of courses
</ng-template>
<ng-template #noCourses>
   No courses yet
</ng-template>
-->
<!--
<div [hidden]="courses.length == 0">
    List of courses
</div>
<div [hidden]="courses.length > 0">
    No courses yet
</div> -->
<!--
<ul class="nav nav-pills">
    <li [class.active]="viewMode == 'map'"><a (click)="viewMode = 'map'">MapView</a></li>
    <li [class.active]="viewMode == 'list'"><a (click)="viewMode = 'list'">List View</a></li>
</ul> -->
<!-- ngSwitchCase makes structural changes to the DOM; therefore, we need to prefix an asterisk (*) -->
<!-- ngSwitchCase - double quotes are for the directive's value, and single quotes which is for the value as a string -->
<!-- <div [ngSwitch]="viewMode">
    <div *ngSwitchCase="'map'">Map View Content</div>
    <div *ngSwitchCase="'list'">List View Content</div>
    <div *ngSwitchDefult>Otherwise</div>
</div> -->

 <!-- index as i -->
<!-- Documentation Link:  https://angular.io/api/common/NgForOf -->
<!-- <ul>
    <li *ngFor="let course of courses; index as i">
        {{i}} - {{course.name}}
    </li>
</ul> -->
<!-- <ul>
    <li *ngFor="let course of courses; even as isEven">
        {{i}} - {{course.name}} <span *ngIf="isEven">(EVEN)</span>
    </li>
</ul> -->
<!-- <button (click)="onAdd()">Add</button>
<ul>
    <li *ngFor="let course of courses">
        {{ course.name }}
        <button (click)="onChange(course)">Remove</button>
    </li>
</ul> -->
<!-- <button (click)="loadCourses()">Load Courses</button>
<ul>
    <li *ngFor="let course of courses; trackBy: trackCourse">
        {{ course.name }}
    </li>
</ul> -->

<!-- <div *ngIf="courses.length > 0; else noCourses">
    List of Courses
</div>
<ng-template [ngIf]="courses.length > 0">
    <div>
        List of Courses
    </div>
</ng-template>
<ng-template [ngIf]="!(courses.length > 0)">
    No Courses
</ng-template> -->

<!-- <favorite></favorite> -->

<!-- <button
    [style.backgroundColor]="canSave ? 'blue' : 'gray'"
    [style.color]="canSave ? 'white' : 'black'"
    [style.fontWeight]="canSave ? 'bold' : 'normal'"
>
    Save
</button> -->
<!-- <button
    [ngStyle]="{
        'backgroundColor': canSave ? 'blue' : 'gray',
        'color': canSave ? 'white' : 'black',
    }"
>
    Save
</button> -->

<!-- <span>{{task.assignee?.name}}</span> -->

<!-- <input type="text" [appInputFormat]="'uppercase'"> -->

<!-- <zippy title="Shipping Details">
    Shipping Details Content
</zippy>   
<zippy title="Biz Details">
    Biz Details Content
</zippy>    -->
<!-- <contact-form></contact-form> -->
<!-- <course-form></course-form> -->
<!-- <signup-form></signup-form> -->

<!-- <app-new-course-form></app-new-course-form> -->
<!-- <app-password></app-password> -->

<app-posts></app-posts>